[alias]
  st=status
  co=checkout
  cp=cherry-pick
  br=branch
  aa=add -A
  c=commit
  cm=commit -m
  cam=commit -am
[color]
  ui=auto

[user]
	name = Jarosław Skrzypek
	email = skrzypek.jarek@gmail.com
[core]
	excludesfile = /home/hawk/.gitignore_global
[push]
	default = current
